[submodule "The_Sound"]
	path = The_Sound
	url = git@github.com:vicente-gonzalez-ruiz/The_Sound.git
[submodule "The_Human_Auditory_System"]
	path = The_Human_Auditory_System
	url = git@github.com:vicente-gonzalez-ruiz/The_Human_Auditory_System.git
[submodule "Human_Sound_Perception"]
	path = Human_Sound_Perception
	url = git@github.com:vicente-gonzalez-ruiz/Human_Sound_Perception.git
[submodule "differential_audio_encoding"]
	path = differential_audio_encoding
	url = git@github.com:vicente-gonzalez-ruiz/differential_audio_encoding.git
[submodule "speech_coding"]
	path = speech_coding
	url = git@github.com:vicente-gonzalez-ruiz/speech_coding.git
